.App {
  width: 100%;
  margin: 0 0;
  text-align: center;
}

.title-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #87BBA2;
  font-size: 3rem;
}
.title-text {
  width: 60%;
  font-size: 1rem;
  float: right;
}